@use 'variables';

.hero-section {
    background-color: variables.$theme-primary;
    padding: 4rem 0;
    text-align: center;
    border-bottom: 1px solid variables.transparent-color(variables.$white, 0.10);
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-title {
    color: variables.$white;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-subtitle {
    color: variables.transparent-color(variables.$white, 0.8);
    font-size: 1.5rem;
    font-weight: 400;
}