@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #0284c7;
$secondary-color: #38bdf8;
$dark-color: #0f172a;
$light-color: #f8fafc;

$font-main: 'Roboto', sans-serif;

